@using CRM.Services.Data.ViewModels.Users.Discussions
@model List<DiscussionViewModel>

@if (this.Model != null && this.Model.Any())
{
    foreach (var discussion in this.Model)
    {
        <p>Date: @discussion.Date</p>
        <p>Subject: @discussion.SubjectOfDiscussion</p>
        <p>Type: @discussion.Type</p>

        <fieldset>
            <legend>Next discussion</legend>
            <p>Date: @discussion.NextDiscussionDate</p>
            <p>Note: @discussion.NextDiscussionNote</p>
            <p>Type: @discussion.NextDiscussionType</p>
        </fieldset>
        <br />
    }
}
else
{
    <p>There aren't any activities yet!</p>
}