@using CRM.Services.Data.ViewModels.Contracts.Trds
@model int
@{
    ViewBag.Title = "Trds";
    const string controllerName = "Trds";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/kendo")

@(Html.Kendo()
    .Grid<TrdViewModel>()
    .Name("grid-client-trds")
    .Columns(columns =>
    {
        columns.Bound(model => model.Decoder).Width(120);
        columns.Bound(model => model.Sim).Width(120);
        columns.Bound(model => model.Cas).Width(120);
        columns.Bound(model => model.Cam).Width(120);
        columns.Bound(model => model.IsVisible).Hidden(true);
        columns.Command(command =>
        {
            command.Custom("Details").Click("viewTrdDetails");
            command.Edit();
            command.Destroy();
        });
    })
    .ToolBar(toolBar =>
    {
        toolBar.Template(@<text>
            @(Html.Kendo().AutoComplete()
                .Name("searchbox-client-trd")
                 .Placeholder("Decoder... ")
                .DataSource(datasource => datasource
                                    .Read(read => read.Action("GetTrdsData", controllerName, null).Data("onAdditionalDataClientTrd")))
                .Filter("contains")
                  )
@if (this.User.IsInRole("Admin") || this.User.IsInRole("Dealer"))
{
    <a class="k-button k-button-icontext k-grid-add" href="/Users/Trds/ReadTrds?grid-client-trds-mode=insert"><span class="k-icon k-add"></span>Add new record</a>
}
            <button class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Export to Excel</button>
            <button class="k-button k-button-icontext k-grid-pdf"><span class="k-icon k-i-pdf"></span>Export to PDF</button>
        </text>);
    })
                                                                                    .Groupable()
                                                                                    .ColumnMenu()
                                                                                    .Filterable()
                                                                                    .Navigatable()
                                                                                    .Resizable(r => r.Columns(true))
                                                                                    .Reorderable(r => r.Columns(true))
                                                                                    .Events(ev => ev.Change("selectRow"))
                                                                                    .Editable(edit => edit.Mode(GridEditMode.PopUp))
                                                                                    .HtmlAttributes(new { @style = "word-break:break-all;" })
                                                                                    .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
                                                                                    .Excel(excel => excel
                                                                                        .FileName("Trds Database.xlsx")
                                                                                        .Filterable(true)
                                                                                        .ProxyURL(Url.Action("Excel_Export_Save", "BaseController", new { area = "" }))
                                                                                        )
                                                                                    .Pdf(pdf => pdf
                                                                                        .AllPages()
                                                                                                                        .FileName("Trds Database.pdf")
                                                                                        .ProxyURL(Url.Action("Pdf_Export_Save", "BaseController", new { area = "" }))
                                                                                    )
                                                                                    .Pageable(pageable => pageable
                                                                                        .Refresh(true)
                                                                                        .PageSizes(true)
                                                                                        .ButtonCount(5))
                                                                                    .Sortable(sort =>
                                                                                    {
                                                                                        sort.AllowUnsort(false);
                                                                                        sort.SortMode(GridSortMode.SingleColumn);
                                                                                    })
                                                                                    .DataSource(data =>
                                                                                    {
                                                                                            data.Ajax()
                                                                                                .Model(model => model.Id(c => c.Id))
                                                                                                .PageSize(10)
                                                                                                .ServerOperation(true)
                                                                                                .Events(ev => ev.Error("errorAlert"))
                                                                                                .Read(read => read.Action("ReadTrds", controllerName, new { clientId = Model }).Data("addSearchClientTrds"))
                                                                                                .Create(create => create.Action("CreateTrd", controllerName, new { clientIdString = Model }))
                                                                                                .Update(update => update.Action("UpdateTrd", controllerName))
                                                                                                .Destroy(destroy => destroy.Action("DestroyTrd", controllerName));
                                                                                    
                                                                                    }))
<div id="selected">
</div>

<script>
    function onAdditionalDataClientTrd() {
        return {
            text: $("#searchbox-client-trd").val()
        };
    }

    function addSearchClientTrds() {
        return { searchbox: $('#searchbox-client-trd').val() };
    }

    $('#searchbox-client-trd').keyup(function () {
        $('#grid-client-trds').data('kendoGrid').dataSource.read();
    });

    function viewTrdDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '/Contractors/Trds/TrdDetails?trdId=' + dataItem.Id;
    }

    function selectRow() {
        var selected = $.map(this.select(), function (item) {
            return $(item).text();
        });

        $('#selected').text(selected);
    }

    function errorAlert() {
        console.log("An error ocurred");
    }

    function makeActiveOnClick(tab) {
        $(".tabs").removeClass('active');
        $(tab).addClass('active');
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

