@using CRM.Services.Data.ViewModels.Marketing.Partners
@{
    ViewBag.Title = "_MarketingPartners";
    var controllerName = "MarketingPartners";
}

<h2>Marketing Partners</h2>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/kendo")

@(Html.Kendo()
    .Grid<MarketingPartnerViewModel>()
    .Name("grid-marketing-partners")
    .Columns(columns =>
    {
        columns.Bound(model => model.Name);
        columns.Bound(model => model.Address);
        columns.Bound(model => model.PhoneNumber);
        columns.Bound(model => model.Email);
        columns.Bound(model => model.Media);
        columns.Command(command =>
        {
            command.Custom("Details").Click("viewDetailsMarketingPartner");
            command.Edit();
            command.Destroy();
        });
    })
    .ToolBar(toolBar =>
    {
        toolBar.Template(@<text>
        @(Html.Kendo().AutoComplete()
            .Name("searchbox-marketing-partner")
            .Placeholder("Name... ")
            .DataSource(datasource => datasource
                .Read(read => read.Action("MarketingPartnersNames", controllerName, null).Data("onAdditionalDataMarketingPartners")))
            .Filter("contains")
        )
        <a class="k-button k-button-icontext k-grid-add" href="/Marketing/MarketingPartners/ReadMarketingPartners?grid-marketing-partners-mode=insert"><span class="k-icon k-add"></span>Add new record</a>
        <button class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Export to Excel</button>
        <button class="k-button k-button-icontext k-grid-pdf"><span class="k-icon k-i-pdf"></span>Export to PDF</button>
        </text>);
    })
                                    .Groupable()
                                    .ColumnMenu()
                                    .Filterable()
                                    .Navigatable()
                                    .Resizable(r => r.Columns(true))
                                    .Reorderable(r => r.Columns(true))
                                    .Events(ev => ev.Change("selectRow"))
                                    .HtmlAttributes(new { @style = "word-break:break-all;" })
                                    .Editable(edit => edit.Mode(GridEditMode.PopUp))
                                    .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
                                    .Excel(excel => excel
                                        .FileName("Marketing Partners Database.xlsx")
                                        .Filterable(true)
                                                        .ProxyURL(Url.Action("Excel_Export_Save", "BaseController", new { area = "" }))
                                        )
                                    .Pdf(pdf => pdf
                                        .AllPages()
                                        .FileName("Marketing Partners Database.pdf")
                                        .ProxyURL(Url.Action("Pdf_Export_Save", "BaseController", new { area = "" }))
                                    )
                                    .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                                    .Sortable(sort =>
                                    {
                                        sort.AllowUnsort(false);
                                        sort.SortMode(GridSortMode.SingleColumn);
                                    })
                                    .DataSource(data =>
                                    {
                                        data.Ajax()
                                            .Model(model => model.Id(c => c.Id))
                                            .PageSize(10)
                                            .ServerOperation(true)
                                            .Events(ev => ev.Error("errorAlert"))
                                            .Read(read => read.Action("ReadMarketingPartners", controllerName, new { clientId = Model }).Data("addSearchMarketingPartners"))
                                            .Create(create => create.Action("CreateMarketingPartner", controllerName, new { currentClientId = Model }))
                                            .Update(update => update.Action("UpdateMarketingPartner", controllerName))
                                            .Destroy(destroy => destroy.Action("DestroyMarketingPartner", controllerName));
                                    }))
<div id="selected">
</div>

<script>
    function onAdditionalDataMarketingPartners() {
        return {
            text: $("#searchbox-marketing-partner").val()
        };
    }

    function addSearchMarketingPartners() {
        return { searchTerm: $('#searchbox-marketing-partner').val() };
    }

    $('#searchbox-marketing-partner').keyup(function () {
        $('#grid-marketing-partners').data('kendoGrid').dataSource.read();
    });

    function viewDetailsMarketingPartner(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '/Marketing/MarketingPartners/MarketingPartnerInformation?marketingPartnerId=' + dataItem.Id;
    }

    function selectRow() {
        var selected = $.map(this.select(), function (item) {
            return $(item).text();
        });

        $('#selected').text(selected);
    }

    function errorAlert() {
        console.log("An error ocurred");
    }

    function makeActiveOnClick(tab) {
        $(".tabs").removeClass('active');
        $(tab).addClass('active');
    }
</script>