@using CRM.Services.Data.ViewModels.Marketing.Campaigns

@{
    ViewBag.Title = "Campaigns";
    const string controllerName = "Campaigns";
}
<h2>Campaigns</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/kendo")

@Html.Label("show-all-campaigns", "Show all", new { style="display:inline;"})
@Html.CheckBox("show-all-campaigns", false, new { id = "show-all-campaigns"})

@(Html.Kendo()
    .Grid<CampaignViewModel>()
    .Name("grid-campaigns")
    .Columns(columns =>
    {
        columns.Bound(model => model.Type).Width(120);
        columns.Bound(model => model.Start).Width(120);
        columns.Bound(model => model.End).Width(120);
        columns.Bound(model => model.Activities).Width(120);
        columns.Bound(model => model.Budget).Width(120);
        columns.Bound(model => model.Results).Width(120);
        columns.Bound(model => model.IsVisible).Hidden(true);
        columns.Command(command =>
        {
            command.Custom("Details").Click("viewCampaignInformation");
            command.Edit();
            command.Destroy();
        });
    })
    .ToolBar(toolBar =>
    {
        toolBar.Template(@<text>
        @(Html.Kendo().AutoComplete()
                .Name("searchbox-campaigns")
                 .Placeholder("Type... ")
                .DataSource(datasource => datasource.Read(read => read.Action("GetCampaignData", controllerName, null).Data("onAdditionalDataCampaign")))
                .Filter("contains")
              )
@if (this.User.IsInRole("Admin") || this.User.IsInRole("Dealer"))
{
    <a class="k-button k-button-icontext k-grid-add" href="/Marketing/Campaigns/ReadCampaigns?grid-campaigns-mode=insert"><span class="k-icon k-add"></span>Add new record</a>
}
        <button class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Export to Excel</button>
        <button class="k-button k-button-icontext k-grid-pdf"><span class="k-icon k-i-pdf"></span>Export to PDF</button>
        </text>);
    })
                                                                                    .Groupable()
                                                                                    .ColumnMenu()
                                                                                    .Filterable()
                                                                                    .Navigatable()
                                                                                    .Resizable(r => r.Columns(true))
                                                                                    .Reorderable(r => r.Columns(true))
                                                                                    .Events(ev => ev.Change("selectRow"))
                                                                                    .Editable(edit => edit.Mode(GridEditMode.PopUp))
                                                                                    .HtmlAttributes(new { @style = "word-break:break-all;" })
                                                                                    .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
                                                                                    .Excel(excel => excel
                                                                                        .FileName("Trds Database.xlsx")
                                                                                        .Filterable(true)
                                                                                        .ProxyURL(Url.Action("Excel_Export_Save", "BaseController", new { area = "" }))
                                                                                        )
                                                                                    .Pdf(pdf => pdf
                                                                                        .AllPages()
                                                                                                                        .FileName("Trds Database.pdf")
                                                                                        .ProxyURL(Url.Action("Pdf_Export_Save", "BaseController", new { area = "" }))
                                                                                    )
                                                                                    .Pageable(pageable => pageable
                                                                                        .Refresh(true)
                                                                                        .PageSizes(true)
                                                                                        .ButtonCount(5))
                                                                                    .Sortable(sort =>
                                                                                    {
                                                                                        sort.AllowUnsort(false);
                                                                                        sort.SortMode(GridSortMode.SingleColumn);
                                                                                    })
                                                                                    .DataSource(data =>
                                                                                    {
                                                                                            data.Ajax()
                                                                                                .Model(model => model.Id(c => c.Id))
                                                                                                .PageSize(10)
                                                                                                .ServerOperation(true)
                                                                                                .Events(ev => ev.Error("errorAlert"))
                                                                                                .Read(read => read.Action("ReadCampaigns", controllerName, new {clientId = Model}).Data("addSearchCampaigns"))
                                                                                                .Create(create => create.Action("CreateCampaign", controllerName, new {clientIdString = Model}))
                                                                                                .Update(update => update.Action("UpdateCampaign", controllerName))
                                                                                                .Destroy(destroy => destroy.Action("DestroyCampaign", controllerName));
                                                                                     
                                                                                    }))
<div id="selected">
</div>

<script>
    $('#show-all-campaigns').click(function () {
        var grid = $("#grid-campaigns").data("kendoGrid");

        grid.dataSource.read();
    });

    function onAdditionalDataCampaign() {
        return {
            text: $("#searchbox-campaigns").val()
        };
    }

    function addSearchCampaigns() {
        var isChecked = $('#show-all-campaigns').is(':checked');

        return {
            showAll: isChecked,
            searchbox: $('#searchbox-campaigns').val()
        };
    }

    $('#searchbox-campaigns').keyup(function () {
        $('#grid-campaigns').data('kendoGrid').dataSource.read();
    });

    function viewCampaignInformation(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '/Marketing/Campaigns/CampaignDetails?campaignId=' + dataItem.Id;
    }

    function selectRow() {
        var selected = $.map(this.select(), function (item) {
            return $(item).text();
        });

        $('#selected').text(selected);
    }

    function errorAlert() {
        console.log("An error ocurred");
    }

    function makeActiveOnClick(tab) {
        $(".tabs").removeClass('active');
        $(tab).addClass('active');
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

