@using CRM.Services.Data.ViewModels.Marketing.Campaigns
@model CampaignViewModel
@{
    ViewBag.Title = "Campaign details";
}

<h2>Campaign information</h2>

<div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
        <tbody>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Type
                    </strong>
                </td>
                <td>
                    @Model.Type
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Start
                    </strong>
                </td>
                <td>
                    @Model.Start
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        End
                    </strong>
                </td>
                <td>
                    @Model.End
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Activities
                    </strong>
                </td>
                <td>
                    @Model.Activities
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Budget
                    </strong>
                </td>
                <td>
                    @Model.Budget
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Results
                    </strong>
                </td>
                <td>
                    @Model.Results
                </td>
            </tr>
        </tbody>
    </table>
</div>