@using CRM.Services.Data.ViewModels.Users.Trds
@using CRM.Services.Data.ViewModels.Users.Invoices
@using CRM.Services.Data.ViewModels.Users.Providers
@using CRM.Services.Data.ViewModels.Users.Clients
@using CRM.Services.Data.ViewModels.Users.Contracts
@using CRM.Services.Data.ViewModels.Users.TypeOfCompanies
@model ClientContractViewModel
@{
    Layout = null;

    var client = (ClientViewModel)ViewBag.Client;
    var provider = (ProviderViewModel)ViewBag.Provider;
    var invoices = (List<InvoiceViewModel>)ViewBag.Invoices;
    var trds = (List<TrdViewModel>)ViewBag.Trds;
    var channels = (List<ChannelViewModel>)ViewBag.Channels;
    var type = (TypeOfCompanyViewModel)ViewBag.ClientContractType;
    var firstOrDefaultChanel = channels.FirstOrDefault();
    var time = DateTime.Now;
}

<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="~/Content/contracts/super-one.css" type="text/css" />
</head>

<body class="c67">
    <div>
        <p class="c0 c69">
            <span></span>
        </p>
    </div>
    <p class="c36 c11 c63">
        <span class="c8 c12">LICENSE AGREEMENT</span>
    </p>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <p class="c21 c5 c14">
        <span class="c8"></span>
    </p>
    <p class="c21 c11">
        <span class="c8">This Agreement is made on &nbsp;</span>
    </p>
    <p class="c21 c11">
        <span class="c8">Between:</span>
    </p>
    <p class="c21 c5 c14">
        <span class="c8"></span>
    </p>
    <p class="c11 c21">
        <span class="c8 c12">Media Super World B.V.</span><span class="c8">&nbsp;(Prins Mauritslaan 11, 1171 LP Badhoevedorp, the Netherlands, registered with the Chamber of Commerce in Amsterdam &nbsp;under no. 51121336 &nbsp;tax resident of the Netherlands under no. 8231.03.420 &nbsp;IBAN Code NL07INGB0007712073 (BIC Code INGBNL2A) held with ING Bank N.V. Stadsplein 961181 ZM Amstelveen, the Netherlands, duly represented by Polyvesta Trust Management BV, Catharina Jansen, in her capacity of Director)</span><span class="c8 c19">&nbsp;hereinafter </span><span class="c8 c12">MEDIA SERVICE PROVIDER</span>
    </p>
    <p class="c21 c5 c14">
        <span class="c8"></span>
    </p>
    <p class="c21 c5 c9">
        <span class="c13 c8">AND</span>
    </p>
    <p class="c21 c5 c14">
        <span class="c8"></span>
    </p>
    <p class="c21 c14 c16">
        <span class="c2"></span>
    </p>
    <p class="c5 c36">
        <span class="c45 c8 c19 c12 c32 c47">@client.Name</span><span class="c19 c12 c32 c48">&nbsp;</span><span class="c45 c8 c19 c12 c32 c47">@type.Type</span><span class="c48 c19 c12 c32">, &nbsp;</span><span class="c45 c8 c19 c12 c32 c47">@client.ResidenceAndAddress</span><span class="c48 c19 c12">, with registration number </span><span class="c45 c8 c19 c12 c32 c47">@client.Uic</span><span class="c48 c19 c12 c32">,</span><span class="c48 c19 c32">&nbsp;</span><span class="c45 c8 c19 c12 c32 c47">@client.Vat</span><span class="c48 c19">, Bulgaria represented by </span><span class="c45 c8 c19 c12 c32 c47">@client.Management</span><span class="c48 c19 c32">,</span><span class="c48 c19">&nbsp;</span><span class="c45 c8">(hereinafter referred to as &bdquo;</span><span class="c45 c8 c12">OPERATOR</span><span class="c8 c45">&rdquo;),</span><span class="c8">&nbsp;</span>
    </p>
    <p class="c5 c36">
        <span class="c8">The parties hereby agree as follows:</span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c36 c11">
        <span class="c8 c12">DEFINITIONS</span>
    </p>
    <p class="c0 c41 c11">
        <span class="c8"></span>
    </p>
    <p class="c0 c41 c11">
        <span class="c8"></span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In this Agreement, &ldquo;MEDIA SERVICE PROVIDER&rdquo; and the &ldquo;Operator&rdquo; shall mean the parties as set out above and all other capitalised terms used in this Agreement shall have the meanings that follow: </span>
    </p>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;</span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Media Service Provider, as the media service provider of </span><span class="c8 c12">SuperOne </span><span class="c8">channel (hereinafter: </span><span class="c8 c12">Channel</span><span class="c8">) and who has the exclusive rights to the direct and indirect rights relating to the Channel according to the declaration of warranties in this agreement, grants the Operator the non-exclusive right to receive and to distribute the Channel with the conditions stipulated in this agreement.</span>
    </p>
    <p class="c36 c30 c23">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p class="c0 c23 c30">
        <span class="c8"></span>
    </p>
    <p class="c1">
        <span class="c7">@if (channels != null && channels.Any())
                         {
                             var channel = channels.FirstOrDefault();
                             <span>@channel.Name</span>
                         }</span>
    </p>
    <p class="c0 c9 c11 c65">
        <span class="c13 c8"></span>
    </p>
    <p class="c36 c23 c44">
        <span class="c8">&quot;Licence Fee&quot; means the sum or sums payable to MEDIA SERVICE PROVIDER by the Operator for the distribution of the Channel in the </span><span class="c20 c8">Territory</span><span class="c8">; </span>
    </p>
    <p class="c0 c30 c23">
        <span class="c8"></span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;System(s)&quot; means all the </span><span class="c8">Digital Cable</span><span class="c8">&nbsp;</span><span class="c8">Television Networks</span><span class="c45 c8">&nbsp;</span><span class="c20 c45 c8">and DTH-SYSTEM</span><span class="c8">&nbsp;in the </span><span class="c20 c8">Territory</span><span class="c8">&nbsp;owned and/or operated by the Operator;</span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;</span><span class="c8">Digital Cable </span><span class="c8">Television Networks&rdquo; shall mean a television distribution system providing service using copper and/or optic lines by way of a broadband connection using the Internet Protocol but, for clarity, in a closed network not accessible from the Internet at large, and that included interactive services like:</span>
    </p>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <p class="c21 c22">
        <span>i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#1057;atch up TV - a service which allows the Subscriber to watch the TV channel program content pre-recorded on network server in the past 7 days from a separate EPG position, </span>
    </p>
    <p class="c21 c22">
        <span>ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#1058;ime shift &ndash; a service allowing pausing forwarding and rewind of the program within a 1 hour time window and </span>
    </p>
    <p class="c21 c22">
        <span>iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nPVR &ndash; a service allowing the Subscriber to record a predefined amount of content on a network server of the Operator and keep it for later viewing for a limited period of time.</span>
    </p>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;Receiving Equipment&quot; means the equipment needed to receive the Channel for distribution in the Systems in accordance with this Agreement;</span>
    </p>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;Report&quot; means a monthly statement containing the information set out in Clause 7. </span>
    </p>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <p class="c36 c11 c40">
        <span class="c8">&quot;Subscriber&quot; means a person in a private residence who is entitled to receive a conditional access service in that private residence via the Systems by virtue of a contract or arrangement with the Operator (whether or not they actually receive or pay for conditional access service);</span>
    </p>
    <p class="c0 c11 c40">
        <span class="c8"></span>
    </p>
    <p class="c36 c11 c40">
        <span class="c8">&ldquo;Conditional Access Service&rdquo; shall mean any technical measure and/or arrangement permitting access in an intelligible form and subject to prior individual authorization to the services, provided by the Operator;</span>
    </p>
    <p class="c0 c11 c40">
        <span class="c8"></span>
    </p>
    <p class="c36 c11 c40">
        <span class="c8">&bdquo;Conditional access&ldquo; shall mean any technical measure and/or arrangement permitting access in an intelligible form and subject to prior individual authorization to the services, provided by the Operator.</span>
    </p>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;Term&quot; means the duration of this Agreement as set out in Clause 2.1.</span>
    </p>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;Territory&quot; means </span><span class="c20 c8">Bulgaria and Serbia.</span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Addresses and Contact Persons:</span>
    </p>
    <p class="c5 c36">
        <span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For the MEDIA SERVICE PROVIDER: </span>
    </p>
    <p class="c36 c11">
        <span class="c8">&nbsp; &nbsp; &nbsp; &nbsp;Address: </span><span class="c2">Tematic Cable Str. Elena Cuza, Nr. 8, Sector 4, Bucharest, Romania<br></span>
    </p>
    <p class="c36 c11">
        <span class="c8">&nbsp; &nbsp; &nbsp; &nbsp;Contact Person:</span><span class="c8">&nbsp;Victor Hodorog</span>
    </p>
    <p class="c36 c11">
        <span class="c8">&nbsp; &nbsp; &nbsp; &nbsp;E-mail: Victor.hodorog@tematic-cable,ro</span>
    </p>
    <p class="c36 c11">
        <span class="c8">&nbsp; &nbsp; &nbsp; &nbsp;Phone: 0040746 666 268</span>
    </p>
    <p class="c36 c11 c74">
        <span class="c8">For the Operator: </span>
    </p>
    <p class="c36 c11">
        <span class="c8">&nbsp; &nbsp; &nbsp; &nbsp;Address: </span><span class="c8 c12 c32">@client.Correspondence</span><span class="c8 c12">,</span><span class="c8">&nbsp;</span>
    </p>
    <p class="c36 c11">
        <span class="c8">&nbsp; &nbsp; &nbsp; &nbsp;Contact </span><span class="c8 c32">Person: @client.Management</span>
    </p>
    <p class="c36 c11">
        <span class="c8">&nbsp; &nbsp; &nbsp; &nbsp;E-mail:</span><span class="c8 c32">@client.ManagementEmail</span>
    </p>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8 c12"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0 start" start="1">
        <li class="c6">
            <span class="c8 c12">LICENCE</span>
        </li>
    </ol>
    <p class="c0 c41 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1 start" start="1">
        <li class="c6">
            <span class="c8">MEDIA SERVICE PROVIDER grants the Operator the non-exclusive right during the Term and throughout the Territory to receive and to distribute the Channel in the Systems to Subscribes. </span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="2">
        <li class="c6">
            <span class="c8 c12">TERM</span>
        </li>
    </ol>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="2">
        <li class="c6">
            <a name="h.gjdgxs"></a><span class="c8">This contract becomes effective on </span><span class="c45 c8 c32">@Model.StartDate</span><span class="c8 c32">&nbsp;</span><span class="c8">and will last until </span><span class="c45 c8 c32 c47">@Model.EndDate</span><span class="c8">, and shall be automatically extended with </span><span class="c45 c8 c32 c47">@Model.NoticePeriod</span><span class="c8">&nbsp;unless either Party terminates the contract with a written notice to the other Party prior to &nbsp;</span><span class="c8 c32">@{var resultDate = Model.EndDate.AddDays(-Model.NoticePeriod);}@resultDate</span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="3">
        <li class="c33 c23">
            <span class="c8 c12">CARRIAGE OF THE PROGRAMMES</span>
        </li>
    </ol>
    <p class="c0 c23">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="3">
        <li class="c33 c23">
            <span class="c8">The Operator shall ensure that the Channel is accessible to the Subscribers in the Systems</span><span>&nbsp;</span><span class="c8">throughout the Term of this Contract. </span>
        </li>
    </ol>
    <p class="c0 c23">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="4">
        <li class="c33 c23">
            <span class="c8 c12">CHANNEL AND PACKAGING</span>
        </li>
    </ol>
    <p class="c0 c23 c31">
        <span class="c8 c12"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="4">
        <li class="c6">
            <span class="c8">MEDIA SERVICE PROVIDER reserves the right to change the composition and content of the Channel at its discretion, including the programme content, name and branding of the Channel and the transmission hours of the Channel, provided that it shall (except in an emergency) use its reasonable endeavours to give prior written notice of any major changes to the Operator. The Operator acknowledges that MEDIA SERVICE PROVIDER has no control over the composition and content of Channel owned by third parties.</span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="5">
        <li class="c6">
            <span class="c8">The Operator shall determine the program packages and the content thereof independently. In case that the Operator would like to change the program packages, the Parties shall commence good-faith negotiations. Failing an agreement in this question within 30 days after the notice of the intention of changing, either Party has the right to terminate the contact with a notice period of 90 days.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="5">
        <li class="c33 c23 c70">
            <span class="c8 c12">SUPPLY OF THE CHANNEL</span>
        </li>
    </ol>
    <p class="c0">
        <span class="c8 c19 c12"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="6">
        <li class="c6">
            <span class="c8">MEDIA SERVICE PROVIDER shall make at its own cost the Channel available to the Operator&rsquo;s Receiving Equipment in accordance with MEDIA SERVICE PROVIDER&rsquo;s standard technical specification, to be notified to the Operator from time to time.</span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="7">
        <li class="c6">
            <span class="c8">The Channel is a 24-hour program-flow consists of erotic movies and action scenes (and the promotions thereof) with different types and themes.</span>
        </li>
    </ol>
    <p class="c0 c9 c16">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="8">
        <li class="c33 c9">
            <span class="c20 c13 c8">Operator is informed that the Channel is pornographic oriented. Operator commits itself to forbid minors to access to the Channel and to respect the Countries of the Territory&rsquo;s related laws, rules and obligations</span><span class="c13 c8">.</span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="9">
        <li class="c6">
            <span class="c8">During the Term the Media Service Provider shall distribute the Channel encrypted, with digital satellite transmission according to the satellites and transmission and receiving data specified in Appendix &ldquo;A&rdquo;. </span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="10">
        <li class="c6 c73">
            <span class="c8">It must be granted by the Operator and it is his own responsibility that:</span>
        </li>
    </ol>
    <p class="c21 c14 c11">
        <span class="c8"></span>
    </p>
    <p class="c21 c11 c38">
        <span class="c8">a. the Channel is always distributed in a &lsquo;blocked&rsquo; form, using a </span><span class="c8">Conditionall Access &nbsp;</span><span class="c8">and can only be watched after the </span><span class="c8">condition for access has been met</span><span class="c8">; or</span>
    </p>
    <p class="c14 c38 c62">
        <span class="c8"></span>
    </p>
    <p class="c62 c38">
        <span class="c8">b. the Channel is broadcasted in a &lsquo;blocked&rsquo; form the first time it is offered and switched on (unblocked) using a specific </span><span class="c8">conditional access</span><span class="c8">&nbsp;and can only be watched after the </span><span class="c8">condition </span><span class="c8">&nbsp;has been </span><span class="c8">met</span><span class="c8">, where the consumer has the choice of subsequently accessing the Channel &lsquo;blocked&rsquo; or &lsquo;open&rsquo; as standard, provided that s/he is sufficiently informed of the (nature of the) potentially harmful images for minors broadcast on the channel in question and s/he is able to re-block the channel at any time</span><span class="c8">&nbsp;</span><span class="c8">and s/he is clearly informed of this possibility.</span>
    </p>
    <p class="c0 c9 c16">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="11">
        <li class="c6">
            <span class="c8">Operator shall conclude, at its own costs, all necessary agreements concerning the distribution of the Channel in the Territory with all local collective societies for authors, composers, performing and featuring artists (neighbouring rights), video music and phonograms producers and multimedia exploitations.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="12">
        <li class="c6">
            <span class="c8">Operator shall undertake best efforts to maintain the agreements referred to in Article 5.6 above in full force and effect throughout the entire duration of this agreement and to modify such agreements if necessary.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="13">
        <li class="c6">
            <span class="c8 c57">The place of delivery in this Agreement shall be </span><span class="c8">the surface of the receiving equipment located at the head-ends of the Operator. MEDIA SERVICE PROVIDER shall ensure that the quality of the signal, at the place of delivery, complies with the applicable standards and the requirements set out in this Agreement.</span>
        </li>
    </ol>
    <p class="c0 c9 c16">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="14">
        <li class="c33">
            <span class="c8">The Operator shall provide, operate and maintain Receiving Equipment that is compatible with MEDIA SERVICE PROVIDER&rsquo;s technical specification and that is able to transmit the Channel in accordance with the terms and conditions of this Agreement. If the Receiving Equipment develops a fault the Operator shall repair the Receiving Equipment as soon as reasonably practicable.</span>
        </li>
    </ol>
    <p class="c0">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="15">
        <li class="c6 c3">
            <span class="c13 c8">MEDIA SERVICE PROVIDER shall provide the Operator with a Smartcard (the &ldquo;Card&rdquo;) free of charge, entitling the Operator to distribute the Channel. The ownership of the Card remain at the MEDIA SERVICE PROVIDER, however, the use of the Card by the Operator is free of charge. At the termination of this contract the Operator is obliged to return the Card to the MEDIA SERVICE PROVIDER in undamaged, operable condition</span><span class="c39">&nbsp;</span><span class="c13 c8">within 15 days. Failure to do so the Operator is obliged to pay EUR 30,- compensation to the MEDIA SERVICE PROVIDER. The Card shall be returned to the address of the distributor company</span><span class="c2 c13">. </span><span class="c15 c13 c8">Tematic Cable Str. Elena Cuza, Nr. 8, Sector 4, Bucharest, Romania</span><span class="c2 c13"><br></span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="16">
        <li class="c6 c3">
            <span class="c13 c8">MEDIA SERVICE PROVIDER reserves the right to change the satellite and/or to change or modify the technical standard of the signal carrying the Channel, and/or change the frequency, provided that it shall (except in an emergency) give the Operator at least 30 days prior written notice of such change or modification. </span>
        </li>
    </ol>
    <p class="c0 c9 c16">
        <span class="c13 c8"></span>
    </p>
    <p class="c3 c36 c11 c31">
        <span class="c13 c8 c57">If the method of signal transmission is changed and, as a result, the Operator is required to make additional investments in purchasing and operating the required technical equipment</span><span class="c13 c8">&nbsp;and MEDIA SERVICE PROVIDER does not undertake to reimburse the related costs, the Operator is entitled to terminate this Agreement with effect from the date of such technical change.</span>
    </p>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="17">
        <li class="c6 c3">
            <span class="c13 c8">The supply of the Channel&rsquo;s signals by MEDIA SERVICE PROVIDER may be subject to interruptions arising from equipment maintenance. MEDIA SERVICE PROVIDER shall use its reasonable endeavours to ensure acceptable reception quality of, access to, and delivery of the Channel. If at any time after commencement of the Agreement the Operator reasonably believes that the technical quality of the Channel as delivered is sub-standard or the delivery of the Channel to the Receiving Equipment is subject to interruptions, the Operator should immediately notify MEDIA SERVICE PROVIDER. MEDIA SERVICE PROVIDER shall commence all reasonable efforts to correct the technical quality of the signal within a reasonable time. The Licence Fees shall be reduced proportionately for each day after Operator&rsquo;s notice to MEDIA SERVICE PROVIDER that in MEDIA SERVICE PROVIDER&rsquo;s reasonable opinion the technical quality of the Channel was sub-standard or subject to interruptions.</span>
        </li>
    </ol>
    <p class="c0 c3 c11 c31">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="18">
        <li class="c6 c3">
            <span class="c13 c8">MEDIA SERVICE PROVIDER shall operate a technical service for the inspection of complaints regarding the quality of the signal of the Channel from 9 a.m. until 8 p.m. on weekdays. The technical service can be reached at:</span>
        </li>
    </ol>
    <p class="c3 c36 c11">
        <span class="c15 c13 c8">Anca Matiesc ( T: +40745 204 444, email: anca.matiesc@tematic-cable.ro )</span>
    </p>
    <p class="c3 c36 c11 c31">
        <span class="c15 c13 c8">&nbsp; &nbsp;Diana Jawad: </span><span class="c15 c13 c8 c51"><a class="c56" href="mailto:diana.jawad@mediapartners.bg">diana.jawad@mediapartners.bg</a></span><span class="c15 c13 c8">&nbsp;T: +359 89 29 05555</span>
    </p>
    <p class="c3 c36 c11 c31">
        <span class="c2 c13">&nbsp; &nbsp;Cs&uuml;ll&ouml;g S&aacute;ndor (T: +36-30-3995-315, e-mail: csullog.sandor@tematik-kabel.hu).</span>
    </p>
    <p class="c0 c3 c11 c41">
        <span class="c8 c12 c55"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="6">
        <li class="c6 c70 c76">
            <h5 style="display:inline"><span class="c61">LICENCE FEE</span></h5>
        </li>
    </ol>
    <p class="c0">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="19">
        <li class="c6 c9">
            <span class="c35 c8 c42">The Operator shall pay the Licence Fee in every month during the Term in accordance with the number of actual Subscribers to the Channel represented in the Report based on the invoice issued by the Media Service Provider. The payment of the fee is the condition precedent of keeping the right of distribution of the Channel.</span>
        </li>
    </ol>
    <p class="c0 c9 c11 c31">
        <span class="c35 c8 c42"></span>
    </p>
<p class="c36 c9 c52 c11">
    <span class="c35 c8 c12">For SuperOne HD and SuperOne SD</span>
</p>
    @if (invoices != null && invoices.Any())
    {
        foreach (var invoice in invoices)
        {
            <p class="c36 c60">
                <span class="c2 c13">Monthly Flat Fee: &nbsp;</span><span class="c8 c32">From: @invoice.From To: @invoice.To MG Subs: @invoice.MgSubs CPS: @invoice.Cps</span>
            </p>
        }
   } 
    <p class="c36 c58">
        <span class="c2">Payment period: &nbsp;</span><span class="c8 c32">@client.Frequency</span>
    </p>
    <p class="c0">
        <span class="c2"></span>
    </p>
    <p class="c36">
        <span class="c2">The License Fee is payable within </span><span class="c45 c8 c32 c47">@Model.NumberOfDaysForPaymentDueDate</span><span class="c2">&nbsp; days from the date of the receipt of the invoice </span>
    </p>
    <p class="c0 c9 c11 c52">
        <span class="c8 c12 c35"></span>
    </p>
    <p class="c0 c9 c16">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="20">
        <li class="c6 c9">
            <span class="c35 c8 c42">No License Fee shall be paid for the period of a transmission fault or interruption, whether or not it is considered as force majeure if it is attributable to MEDIA SERVICE PROVIDER, or in case of any failure of the Smart Card, if, in any of the above cases, such period continues for more than 24 hours continuously and the Operator notifies MEDIA SERVICE PROVIDER in writing immediately following such fault or interruption. No Licence Fee shall be payable in relation to the Subscribers for the period during which a subscription is suspended by such Subscribers (on the condition that the Operator actually terminated such Subscribers&rsquo; access to the Channel).</span>
        </li>
    </ol>
    <p class="c0 c9 c16">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="21">
        <li class="c6 c9">
            <span class="c35 c8 c42">Provided that &ndash; with the exception of the extension necessary to fulfil the broadcast agreement concluded with the right holder &ndash; the Channel shall be broadcast in an unencrypted form (including systems that are available to the subscribers without the payment of any subscription fee, e.g. via DTT systems, internet) in Territory simultaneously with the live broadcast or with not more delay than 24 hour (with the exception of test or promotional&nbsp;period not exceeding 60 days). </span>
        </li>
    </ol>
    <p class="c0 c9 c16">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="7">
        <li class="c6">
            <a name="h.30j0zll"></a><span class="c8 c12">SUBSCRIBER STATEMENTS AND PAYMENT</span>
        </li>
    </ol>
    <p class="c0 c41 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="22">
        <li class="c6">
            <span class="c8">Within ten (10) working days of the end of each month the Operator shall provide MEDIA SERVICE PROVIDER with the Report relating the previous month, which contains the number of the Subscribers at the end of the previous month, by head-ends.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="23">
        <li class="c6">
            <a name="h.1fob9te"></a><span class="c8">MEDIA SERVICE PROVIDER reserves the right to charge interest, that shall not surpass 10 % (ten per cent) of the amount of the overdue payment, on overdue payments from due date until actual payment is made at the rate of 10% per annum or the maximum interest rate permitted by law if less than 10% per annum. &nbsp;</span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="24">
        <li class="c6 c14">
            <span class="c8"></span>
        </li>
        <li class="c6">
            <span class="c8">The Licence Fee and any other payment hereunder is stated net of value added tax, sales tax and any other present or future taxes, levies, duties or charges. The Operator agrees to pay all relevant taxes or fees that may be levied in relation to the Licence Fee in accordance with the applicable legislation.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="26">
        <li class="c6 c3">
            <span class="c13 c8 c20">The Licence Fee shall be paid without any deductions, counterclaims or other forms of credits or offsets that the Operator may have or claim against MEDIA SERVICE PROVIDER</span><span class="c13 c8">.</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <p class="c0 c23">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="8">
        <li class="c6">
            <span class="c8 c12">RECORDS AND AUDIT</span>
        </li>
    </ol>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="27">
        <li class="c6">
            <span class="c8">The Operator shall keep full and accurate records of the number of Subscribers and of its contracts with Systems and of connections and disconnections during the Term and shall grant MEDIA SERVICE PROVIDER access to such records on reasonable notice.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="28">
        <li class="c6">
            <span class="c8">MEDIA SERVICE PROVIDER and/or an independent chartered accountant appointed by MEDIA SERVICE PROVIDER shall have the right, at MEDIA SERVICE PROVIDER&rsquo;s expense, to inspect any such books and reports of the Operator at the Operator&#39;s office during normal business hours upon prior notice to determine the accuracy of any or all of the Operator&#39;s reports hereunder. In the event that any such audit reveals an under-payment of Licence Fees in excess of 5% of the total Licence Fees reported for the period in question, the Operator shall pay all reasonable costs of the audit.</span><span class="c8 c19">.</span><span class="c8">&nbsp;In such cases, the Operator shall pay the above-mentioned amounts within 30 days following the receipt of MEDIA SERVICE PROVIDER&rsquo;s respective invoice.</span>
        </li>
    </ol>
    <p class="c36 c11 c31">
        <span class="c8">At the commencement of the inspection, MEDIA SERVICE PROVIDER shall undertake a non-disclosure obligation and it shall undertake to indemnify the Operator for any damages resulting from MEDIA SERVICE PROVIDER&rsquo;s breach of its non-disclosure obligation.</span>
    </p>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <p class="c36 c11 c31">
        <span class="c8">If MEDIA SERVICE PROVIDER carries out the inspection through an agent then MEDIA SERVICE PROVIDER shall be responsible for the acts of the agent to the same extent as for its own acts. In such cases prior to the inspection, the agent shall make a non-disclosure declaration regarding the data of the respective Operator and the agent shall hand over a copy of such declaration to the Operator.</span>
    </p>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="9">
        <li class="c6">
            <span class="c8 c12">DISTRIBUTION OF CHANNEL BY THE OPERATOR</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8 c12"></span>
    </p>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="29">
        <li class="c6">
            <span class="c8">The Operator undertakes to transmit the Channel by the Systems simultaneously upon receipt in their entirety including all titles, credits, logos and copyright notices on single dedicated channels throughout the transmission hours and not to interrupt, alter, add to, delete or otherwise edit the Channel in any way without the prior written consent of MEDIA SERVICE PROVIDER, unless required by law or otherwise agreed herein in this License Agreement, in which case the Operator shall immediately notify MEDIA SERVICE PROVIDER of such requirement.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="30">
        <li class="c36 c11 c68">
            <span class="c8">The Operator shall distribute the Channel via all Systems owned and/or operated by it throughout the Term. </span>
        </li>
    </ol>
    <p class="c0 c11 c59">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="31">
        <li class="c36 c68 c11">
            <span class="c8">The Operator shall not charge any additional fee to the Subscribers, that is the Channel cannot be distributed as so-called &ldquo;pay-TV&rdquo; program, namely the Operator cannot sell the Channel as a standalone program.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="32">
        <li class="c36 c68 c11">
            <span class="c8">The Operator shall provide a separate channel in case of analog distribution, and a separate channel ID (Service ID) in case of digital distribution to distribute the Channel. The Operator is entitled to distribute the Channel only at the time given by the MEDIA SERVICE PROVIDER, together, without interruption, and on the cable system of the Operator or trusted with the operation therewith. The Operator shall not be entitled to edit, extend, shorten or modify the program of the Channel.</span>
        </li>
    </ol>
    <p class="c0 c41 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="10">
        <li class="c23 c33">
            <span class="c8 c12">INTELLECTUAL PROPERTY RIGHTS AND CLEARANCES </span>
        </li>
    </ol>
    <p class="c0 c23">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="33">
        <li class="c6">
            <a name="h.3znysh7"></a><span class="c8">The Parties hereby agree that all fees relating to copyrights and related neighbouring rights, payable for the distribution and retransmission of the programmes of the Channel in the Territory, shall be borne by the Operator.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="34">
        <li class="c6 c3">
            <span class="c13 c8">The Operator acknowledges and MEDIA SERVICE PROVIDER warrants that all copyrights regarding the Channel including without limitation the names, logos and other trademarks and service marks related to or used in connection with the Channel (the &ldquo;Logos&rdquo;) are and shall remain vested in MEDIA SERVICE PROVIDER. The Operator shall be entitled to use the Logos to the extent reasonably necessary in exercising its rights. Any use of the Logos exceeding such reasonably necessary extent is subject to the prior written consent of MEDIA SERVICE PROVIDER.</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="35">
        <li class="c6 c3">
            <span class="c13 c8">The MEDIA SERVICE PROVIDER warrants that the simultaneous, unaltered transmission of the Channel by the Operator with the Systems to the public is not hindered or limited by any general proprietary or personal rights, copyrights and/or neighbouring rights of any third person.</span>
        </li>
    </ol>
    <p class="c0 c3 c11 c31">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="36">
        <li class="c6">
            <span class="c8">All rights not expressly granted by MEDIA SERVICE PROVIDER hereunder are reserved to MEDIA SERVICE PROVIDER.</span>
        </li>
    </ol>
    <p class="c1 c14 c10">
        <span class="c8 c12"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="11">
        <li class="c6 c3">
            <span class="c8 c12 c55">CONFIDENTIALITY</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c8 c12 c55"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="37">
        <li class="c6 c3">
            <a name="h.2et92p0"></a><span class="c13 c8">Except for any prior specific authorisation in writing by the non-disclosing party to such disclosure or use, each party undertakes to the other that it will treat as confidential the terms of this Agreement and all information whether of a technical, commercial, financial or other nature relating in any manner to the business or affairs of the other party as may be communicated to it hereunder or otherwise in connection with this Agreement and will not disclose such information to any person, firm or company (other than to its auditors, other professional advisors and undertakings in the same group of companies) and will not use such information other than the purposes of this Agreement. </span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c8 c13"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="38">
        <li class="c6 c3">
            <a name="h.tyjcwt"></a><span class="c13 c8">The provisions of Clause 11.1 above shall not apply to any information which: </span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2 start" start="1">
        <li class="c24 c3 c11">
            <span class="c13 c8">is in the public domain other than by default of the recipient party;</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="2">
        <li class="c24 c3 c11">
            <span class="c13 c8">is obtained by the recipient party from a bona fide party having no apparent restraint on its free right of disposal of such information;</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="3">
        <li class="c24 c3 c11">
            <span class="c13 c8">is or has already been independently generated by the recipient party; or</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="4">
        <li class="c24 c3 c11">
            <span class="c13 c8">is required to be disclosed by law (or applicable regulation) or the valid order of a court of competent jurisdiction, or the request or direction of any governmental or other regulatory authority or agency.</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="12">
        <li class="c6">
            <span class="c8 c12">WARRANTIES</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8 c12"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="39">
        <li class="c6">
            <span class="c8">The Operator represents, warrants and covenants that:</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="5">
        <li class="c24 c11">
            <span class="c8">it has full power and authority to enter into and perform all of its obligations under this Agreement;</span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="6">
        <li class="c24 c11">
            <span class="c8">it shall not distribute the Channel or exercise any of its rights or privileges granted herein in any manner which violates any statutes, laws or regulation or any government or governmental authority in the Territory or infringe upon or violate the rights in any third party, and</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="7">
        <li class="c24 c3 c11">
            <span class="c13 c8">it is authorised by all applicable government authorities and it has the necessary technical system to receive and distribute the Channel.</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="40">
        <li class="c6">
            <span class="c8">MEDIA SERVICE PROVIDER represents, warrants and covenants that: </span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="8">
        <li class="c24 c11">
            <span class="c8">it has full power and authority to enter into and perform all of its obligations under this Agreement; </span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="9">
        <li class="c24 c11">
            <span class="c8">it is authorised by all applicable government authorities to perform its activity.</span>
        </li>
    </ol>
    <p class="c0 c3 c5">
        <span class="c13 c8"></span>
    </p>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="13">
        <li class="c6">
            <span class="c8 c12">INDEMNITY</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8 c12"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="41">
        <li class="c6">
            <span class="c8 c57">Each party shall indemnify the other party in accordance with the applicable laws, for damages caused to the other party due to any breach of its obligations under this Agreement or due to any breach of its representations. </span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="14">
        <li class="c6">
            <span class="c8 c12">TERMINATION</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="42">
        <li class="c6">
            <a name="h.3dy6vkm"></a><span class="c20 c8">This Agreement may be terminated by ordinary 60 (sixty) day written notice</span><span class="c20 c8">&nbsp;by each one of the </span><span class="c8 c15">Parties, after the 12 months from the starting date.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c20 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="43">
        <li class="c33 c3">
            <span class="c20 c13 c8">This Agreement shall terminate:</span>
        </li>
    </ol>
    <p class="c0 c9 c46">
        <span class="c20 c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="10">
        <li class="c24 c11">
            <span class="c20 c8">upon the expiry of the Term,</span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="11">
        <li class="c24 c11">
            <span class="c8">by the mutual consent of the Parties,</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="12">
        <li class="c24 c11">
            <span class="c8">in the case of the impossibility of performance hereof, including any party losing or terminating its right to perform this Agreement for any reason whatsoever and in the case of force majeure provided that its duration exceeds 30 days,</span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="13">
        <li class="c24 c11">
            <span class="c8">in the cases set forth in clauses 14.3, 14.4 and 14.5.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="44">
        <li class="c6">
            <span class="c8">If any of the parties hereto:</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="14">
        <li class="c24 c11">
            <span class="c8">passes a resolution or suffers a petition for its winding up (other than for the purpose of reconstruction of amalgamation), or has a receiver or manager appointed over its assets, or is the subject of an application for an administration order, or has any other action or proceeding under any bankruptcy or insolvency law taken against it, or any event analogous to the above occurs in any jurisdiction on which it carries on business; or</span>
        </li>
    </ol>
    <p class="c0 c11 c31">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="15">
        <li class="c3 c11 c24">
            <span class="c13 c8">is in material breach of any of its obligations or undertakings under this Agreement, and that breach (if capable of remedy) is not remedied within thirty (30) days following receipt of notice of such breach from the other party or is in persistent material breach of any of its obligations under this Agreement,</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <p class="c36 c11 c31">
        <span class="c8">then the other party may at its option and without prejudice to its other rights and remedies hereunder either suspend the performance of its obligations until the default is remedied or terminate this Agreement forthwith by a prompt notice in writing given to the party in default. </span>
    </p>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="16">
        <li class="c24 c3 c11">
            <span class="c13 c8">It shall qualify as a material breach of &nbsp;this Agreement by MEDIA SERVICE PROVIDER if</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_3-2 start" start="1">
        <li class="c28 c11">
            <span class="c8">MEDIA SERVICE PROVIDER fails to broadcast the Channel for </span><span class="c2">4 consecutive days or for 3 occasions </span><span class="c20 c8">in one week </span><span class="c2">&ndash; at least for 3 hours</span><span class="c8">&nbsp;per occasions;</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_3-2" start="2">
        <li class="c28 c11">
            <span class="c8">MEDIA SERVICE PROVIDER is in breach of any of the warranties undertaken;</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_3-2" start="3">
        <li class="c28 c11">
            <span class="c8">MEDIA SERVICE PROVIDER is in breach of its obligations in relation to confidentiality.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-2" start="17">
        <li class="c24 c3 c11">
            <span class="c13 c8">It shall qualify as a material breach of this Agreement by the Operator if</span>
        </li>
    </ol>
    <p class="c0 c3 c11 c31">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_4-2 start" start="1">
        <li class="c11 c28">
            <span class="c8">Operator breaches its obligation of programme distribution;</span>
        </li>
    </ol>
    <p class="c0 c11 c43">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_4-2" start="2">
        <li class="c28 c11">
            <span class="c8">Operator fails to pay the Licence Fee on time for three or more consecutive times;</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_4-2" start="3">
        <li class="c28 c11">
            <span class="c8">the data base regarding the Subscribers is &nbsp;unsatisfactory or incomplete;</span>
        </li>
    </ol>
    <p class="c0 c11 c50">
        <span class="c8"></span>
    </p>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_4-2" start="4">
        <li class="c28 c11">
            <span class="c8">Operator is in breach of the provisions set out in clauses 7-9;</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_4-2" start="5">
        <li class="c28 c11">
            <span class="c8">Operator breaches any of the warranties undertaken;</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_4-2" start="6">
        <li class="c28 c11">
            <span class="c8">Operator breaches its obligations in relation to confidentiality</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_4-2" start="7">
        <li class="c28 c11">
            <span class="c8">Operator is in breach of the provisions regarding the transfer or assignment of the Agreement.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="15">
        <li class="c6">
            <span class="c8 c12">FORCE MAJEURE</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_5-1 start" start="1">
        <li class="c3 c36 c75">
            <span class="c13 c8">Neither of the Parties shall be liable to the other party for any delay or default in its obligations hereunder, caused by natural disaster, accident, fire, general strike, rebellion or civil uprising, war, terror or other violent acts, beyond the reasonable control and interest of the Parties. Material changes in governing law will also qualify as force majeure. In the case of force majeure, the affected party shall give a written notice to the other party of such event, and shall be excused from performing its affected obligations hereunder. If the force majeure event continues without interruption for at least 30 days, and as a result of such, the performance of either of the parties is impeded, both parties shall be entitled to terminate the Agreement with immediate effect by providing a notice to the other party. </span>
        </li>
    </ol>
    <p class="c0 c5">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="16">
        <li class="c6 c3">
            <span class="c8 c12 c55">ASSIGNMENT</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c8 c12 c55"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="45">
        <li class="c6 c3">
            <span class="c13 c8">Subject to clause 16.2</span><span class="c8 c12 c55">&nbsp;</span><span class="c13 c8">neither party shall have the right to transfer or assign its rights or obligations under this Agreement without the prior written consent of the other party, such consent not to be unreasonably withheld or delayed.</span>
        </li>
    </ol>
    <p class="c0 c3 c11">
        <span class="c13 c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="46">
        <li class="c6 c3">
            <span class="c13 c8">MEDIA SERVICE PROVIDER shall be entitled to transfer or assign its rights and obligations under this Agreement to any company controlled by MEDIA SERVICE PROVIDER or controlling MEDIA SERVICE PROVIDER or under common control as MEDIA SERVICE PROVIDER, provided that MEDIA SERVICE PROVIDER warrants that the third party assuming the rights and obligations arising from this Agreement, expressly undertakes to comply with the provisions of this Agreement without any amendments thereto. </span>
        </li>
    </ol>
    <p class="c1 c3 c14 c10">
        <span class="c8 c12 c55"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="17">
        <li class="c6">
            <span class="c8 c12">GENERAL</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="47">
        <li class="c6">
            <span class="c8">This Agreement contains the entire agreement of the parties with respect to the subject matter dealt with herein and supersedes any previous agreements or understandings (whether written or oral) between MEDIA SERVICE PROVIDER and the Operator. Neither party has been induced to enter into this Agreement by any warranty or statement other than as set out herein and the only remedies available to each party are in breach of contract (except that nothing herein shall exclude liability for fraudulent statements). </span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="48">
        <li class="c6">
            <span class="c8">Any amendment, waiver or variation of this Agreement shall not be binding on the parties unless set out in writing and signed by authorized representatives of each party.</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="49">
        <li class="c6">
            <span class="c8">This Agreement and any dispute arising in connection with its subject matter shall be governed by and construed in accordance with </span><span class="c2">the laws of Hungary </span><span class="c8">and subject to the jurisdiction of ICC International Court of Arbitration and it rules..</span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="50">
        <li class="c6">
            <span class="c2">The Parties set forth that, based on the request of MEDIA SERVICE PROVIDER, and based on the agreement of the Operator, the HCTA cooperated in the negotiations of the terms of this Agreement. In acceptance of the above request and authorisation, and indicating its approval to the contents of this Agreement, HCTA hereby countersigns the sample of the agreement. Such countersigning by HCTA shall not mean that HCTA qualifies as a party to this Agreement. </span>
        </li>
    </ol>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <p class="c0 c11">
        <span class="c8"></span>
    </p>
    <ol class="c4 lst-kix_list_2-0" start="18">
        <li class="c33 c9">
            <span class="c8 c12 c55">GOVERNING LANGUAGE</span>
        </li>
    </ol>
    <p class="c0 c9">
        <span class="c8 c12 c55"></span>
    </p>
    <ol class="c4 lst-kix_list_2-1" start="51">
        <li class="c33 c9">
            <span class="c13 c8">This Agreement is made in English.</span>
        </li>
    </ol>
    <p class="c0 c9">
        <span class="c13 c8"></span>
    </p>
    <p class="c0 c9">
        <span class="c13 c8"></span>
    </p>
    <p class="c0 c9">
        <span class="c13 c8"></span>
    </p>
    <p class="c1 c10">
        <span class="c8">Signed for and on behalf of </span><span class="c8 c19">MEDIA SERVICE PROVIDER</span><span class="c8">:</span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c1 c10">
        <span class="c8">Signature &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c1 c10">
        <span class="c8">Name &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span>
    </p>
    <p class="c1 c10 c14">
        <span class="c8"></span>
    </p>
    <p class="c1 c10">
        <span class="c8">Title &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c1 c10">
        <span class="c8">Date &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c1 c10">
        <span class="c8">Signed for and on behalf of the Operator:</span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c1 c10">
        <span class="c8">Signature &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c1 c10">
        <span class="c8">Name </span><span class="c7">@client.Management</span><span class="c8">&nbsp;</span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c36 c23">
        <span class="c8">Title &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span>
    </p>
    <p class="c1 c14 c10">
        <span class="c8"></span>
    </p>
    <p class="c1 c10">
        <span class="c8">Date Today</span>
    </p>
    <p class="c0 c9">
        <span class="c13 c8"></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <hr style="page-break-before:always;display:none;">
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <p class="c36">
        <span class="c8 c12">Appendix A</span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <p class="c36">
        <span class="c8 c51">Receiving parameters of the channels SuperOne HD</span>
    </p>
    <p class="c0">
        <span class="c8 c51"></span>
    </p>
    <p class="c0">
        <span class="c8 c51"></span>
    </p>
    <p class="c36">
        <span class="c2 c12">From Satellite</span><span class="c2">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c8 c34">
        @if(firstOrDefaultChanel != null){
            <span>@firstOrDefaultChanel.SatelliteData</span>
        }</span>
    </p>
    <p class="c0">
        <span class="c2"></span>
    </p>
    <p class="c0">
        <span class="c2"></span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <hr style="page-break-before:always;display:none;">
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <p class="c36">
        <span class="c8 c12">Appendix B</span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <p class="c36">
        <span class="c2 c51">Characteristic of the Channel:</span>
    </p>
    <p class="c0">
        <span class="c2 c12"></span>
    </p>
    <p class="c36">
        <span class="c2">Content of the Channel: erotic movies and scenes</span>
    </p>
    <p class="c36">
        <span class="c2">Language of the Channel: original</span>
    </p>
    <p class="c36">
        <span class="c2">TeleShop: no </span>
    </p>
    <p class="c36">
        <span class="c2">playing time: 24 hour daily</span>
    </p>
    <p class="c36">
        <span class="c2">transmission time: 24 hour daily</span>
    </p>
    <p class="c36">
        <span class="c2">number</span><span class="c8">&nbsp;</span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <hr style="page-break-before:always;display:none;">
    <p class="c14 c66">
        <span class="c8 c12"></span>
    </p>
    <p class="c0">
        <span class="c8 c12"></span>
    </p>
    <p class="c36">
        <span class="c8 c12">C.) &nbsp;</span><span class="c8 c19 c12">Appendix C</span>
    </p>
    <p class="c0">
        <span class="c8"></span>
    </p>
    <p class="c36">
        <span class="c8 c19">The head-ends (systems) of the Operator connected to the distribution; program packages and the number of the subscribers</span>
    </p>
    <p class="c0">
        <span class="c8"></span>
    </p>
    <a href="#" name="08f22bb9ced8f2161ea83ffa058855b4880f0972"></a>
    <a href="#" name="0"></a>
    <table cellpadding="0" cellspacing="0" class="c72">
        <tbody>
            <tr class="c71">
                <td class="c27 c49" colspan="1" rowspan="1">
                    <p class="c3 c36">
                        <span class="c8 c19 c12">the address of the head-end</span>
                    </p>
                </td>
                <td class="c37 c49" colspan="1" rowspan="1">
                    <p class="c3 c36">
                        <span class="c35 c64 c8 c57 c19 c12">HD and/or SD</span>
                    </p>
                </td>
                <td class="c53 c49" colspan="1" rowspan="1">
                    <p class="c3 c36">
                        <span class="c35 c64 c8 c57 c19 c12">number of the SIM card</span>
                    </p>
                </td>
                <td class="c25 c49" colspan="1" rowspan="1">
                    <p class="c3 c36">
                        <span class="c35 c8 c57 c19 c12 c64">program package</span>
                    </p>
                </td>
                <td class="c18 c49" colspan="1" rowspan="1">
                    <p class="c3 c36">
                        <span class="c35 c64 c8 c57 c19 c12">number of the flat</span>
                    </p>
                </td>
                <td class="c25 c49" colspan="1" rowspan="1">
                    <p class="c3 c36">
                        <span class="c35 c64 c8 c57 c19 c12">the starting day of the transmission</span>
                    </p>
                    <p class="c0 c3">
                        <span class="c17 c8 c12 c55"></span>
                    </p>
                </td>
                <td class="c29 c49" colspan="1" rowspan="1">
                    <p class="c3 c36">
                        <span class="c35 c64 c8 c57 c19 c12">the first day of invoicing</span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c13 c8 c17"></span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
            </tr>
            <tr class="c26">
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c37" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c25" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
                <td class="c29" colspan="1" rowspan="1">
                    <p class="c0 c3">
                        <span class="c17 c13 c8"></span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c0">
        <span class="c8"></span>
    </p>
    <p class="c36">
        <span class="c8 c19 c12 c51">Attention!</span>
    </p>
    <p class="c0">
        <span class="c8 c12 c19"></span>
    </p>
    <ul class="c4 lst-kix_list_6-0 start">
        <li class="c36 c54">
            <span class="c8 c19">The modification of the &ldquo;starting day of the transmission&rdquo; we can accept only in case that the written notice thereof before the marked date. Failing this we cannot modify the first day of invoicing because of financial and administrative&nbsp;reasons.</span>
        </li>
        <li class="c36 c54">
            <span class="c8 c19">In the column of </span><span class="c8 c19 c12">SuperOne HD</span><span class="c8 c19">&nbsp;and/or </span><span class="c8 c19 c12">SD SuperOne</span><span class="c8 c19">&nbsp;shall be entered the abbreviated name of the distributed channel: </span><span class="c8 c19 c12">HD and/or SD</span>
        </li>
        <li class="c36 c54">
            <span class="c8 c19">In the column of </span><span class="c8 c19 c12">program package</span><span class="c8 c19">&nbsp;the place of the Channel shall be marked: </span><span class="c8 c19 c12">Thematic or HD</span>
        </li>
        <li class="c36 c54">
            <span class="c8 c19">In the column of</span><span class="c8 c19 c12">&nbsp;number of the flat </span><span class="c8 c19">the number of subscribers of the package shall be marked</span>
        </li>
    </ul>
    <p class="c0">
        <span></span>
    </p>
</body>

</html>