@using CRM.Services.Data.ViewModels.Finance.Reports
@model SendReportViewModel

@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
@Html.DropDownList("choose-report-type", ViewBag.EnumData as SelectList)
<button class="btn btn-success" id="generate-report-btn">Generate report</button>

<script>
    $(document).ready(function() {
        $('#generate-report-btn').click(function() {
            alert('No information for reports!');
        });
    });
</script>
@*<div id="additional-dropdown"></div>

<script>
    $(document).ready(function() {
        $('#choose-report-type').change(function () {
            var container = $('#additional-dropdown');
            var reportIndex = parseInt($('#choose-report-type').val());
            var list = $('<select />');
            var result;

            switch (reportIndex) {
                case 0:
                    $.ajax({
                        type:'GET',
                        url: '@Url.Action("GetClients", "Reports", new { area = "Finance" })',
                        contentType: 'application/json;',
                        success: function(data) {
                            result = $.map(data, function (el) { return el });

                            for (var i in result) {
                                $('<option />', { value: result[i].Id, text: result[i].Name }).appendTo(list);
                            }
                        }
                    });

                    break;
                case 1:
                    result = getDealers();
                    break;
                case 2:
                    result = getUnpaidInvoices();
                    break;
                case 3:
                    result = getPaidInvoices();
                    break;
                case 4:
                    result = getTvChannels();
                    break;
                case 5:

                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetProviders", "Reports", new { area = "Finance" })',
                        success: function(data) {
                            result = $.map(data, function(el) { return el });

                            for (var i in result) {
                                $('<option />', { value: result[i].Id, text: result[i].Name }).appendTo(list);
                            }
                        }
                    });

                    break;
                case 6:

                    $.ajax({
                        type:'GET',
                        url: '@Url.Action("GetMonths", "Reports", new { area = "Finance" })',
                        success: function(data) {
                            result = $.map(data, function(el) { return el });

                            for (var i in result) {
                                $('<option />', { value: result[i].Id, text: result[i].Name }).appendTo(list);
                            }
                        }
                    });

                    break;
                case 7:

                    $.ajax({
                        type:'GET',
                        url: '@Url.Action("GetYears", "Reports", new { area = "Finance" })',
                        success: function(data) {
                            result = $.map(data, function(el) { return el });


                            for (var i in result) {
                                $('<option />', { value: result[i].Id, text: result[i].Name }).appendTo(list);
                            }
                        }
                    });

                    break;
                case 8:
                    result = getQ();
                    break;
                case 9:
                    result = getEpg();
                    break;
                case 10:
                    result = getNewsletters();
                    break;
            }

            container.html('');
            list.appendTo(container);
        });

        function getDealers() {

        }

        function getUnpaidInvoices() {

        }

        function getPaidInvoices() {

        }

        function getTvChannels() {

        }

        function getQ() {

        }

        function getEpg() {

        }

        function getNewsletters() {

        }
    });
</script>*@