@using CRM.Services.Data.ViewModels.Marketing.Social
@{
    ViewBag.Title = "Twitter Social Partners";
    var controllerName = "SocialPartners";
}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/kendo")

<<<<<<< HEAD
@Html.Label("show-all-twitter", "Show all", new { style = "display:inline;" })
@Html.CheckBox("show-all-twitter", false, new { id = "show-all-twitter"})
=======
@Html.Label("show-all", "Show all", new { style = "display:inline;" })
@Html.CheckBox("show-all", false, new { id = "show-all-twitter"})
>>>>>>> d5b65130ac06472e570e2926b4106b53b6bd5ff6

@(Html.Kendo()
    .Grid<SocialPartnerViewModel>()
    .Name("grid-Twitter-social-partners")
    .Columns(columns =>
    {
        columns.Bound(model => model.Name);
        columns.Bound(model => model.Name);
        columns.Bound(model => model.Email);
        columns.Bound(model => model.PhoneNumber);
        columns.Bound(model => model.IsVisible);
        columns.Command(command =>
        {
            command.Custom("Details").Click("viewDetailsTwitterSocialPartners");
            command.Edit();
            command.Destroy();
        });
    })
    .ToolBar(toolBar =>
    {
        toolBar.Template(@<text>
        @(Html.Kendo().AutoComplete()
            .Name("searchbox-Twitter-social-partners")
            .Placeholder("Name... ")
            .DataSource(datasource => datasource
                .Read(read => read.Action("TwitterSocialPartnersNames", controllerName, null).Data("onAdditionalDataTwitterSocialPartners")))
            .Filter("contains")
        )
        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Dealer"))
{
        <a class="k-button k-button-icontext k-grid-add" href="/Marketing/SocialPartners/ReadTwitterSocialPartners?grid-Twitter-social-partners-mode=insert"><span class="k-icon k-add"></span>Add new record</a>
 }       <button class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Export to Excel</button>
        <button class="k-button k-button-icontext k-grid-pdf"><span class="k-icon k-i-pdf"></span>Export to PDF</button>
        </text>);
    })
                                    .Groupable()
                                    .ColumnMenu()
                                    .Filterable()
                                    .Navigatable()
                                    .Resizable(r => r.Columns(true))
                                    .Reorderable(r => r.Columns(true))
                                    .Events(ev => ev.Change("selectRow"))
                                    .HtmlAttributes(new { @style = "word-break:break-all;" })
                                    .Editable(edit => edit.Mode(GridEditMode.PopUp))
                                    .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
                                    .Excel(excel => excel
                                        .FileName("Twitter social partners Database.xlsx")
                                        .Filterable(true)
                                                        .ProxyURL(Url.Action("Excel_Export_Save", "BaseController", new { area = "" }))
                                        )
                                    .Pdf(pdf => pdf
                                        .AllPages()
                                        .FileName("Twitter social partners Database.pdf")
                                        .ProxyURL(Url.Action("Pdf_Export_Save", "BaseController", new { area = "" }))
                                    )
                                    .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                                    .Sortable(sort =>
                                    {
                                        sort.AllowUnsort(false);
                                        sort.SortMode(GridSortMode.SingleColumn);
                                    })
                                    .DataSource(data =>
                                    {

                                        data.Ajax()
                                            .Model(model => model.Id(c => c.Id))
                                            .PageSize(10)
                                            .ServerOperation(true)
                                            .Events(ev => ev.Error("errorAlert"))
                                            .Read(read => read.Action("TwitterReadSocialPartners", controllerName, null).Data("addSearchTwitterSocialPartners"))
                                            .Create(create => create.Action("CreateTwitterSocialPartner", controllerName, null))
                                            .Update(update => update.Action("UpdateTwitterSocialPartner", controllerName))
                                            .Destroy(destroy => destroy.Action("DestroyTwitterSocialPartner", controllerName));
   
                                    }))
<div id="selected">
</div>

<script>
    $('#show-all-twitter').click(function () {
        var grid = $("#grid-Twitter-social-partners").data("kendoGrid");

        grid.dataSource.read();
    });

    function onAdditionalDataTwitterSocialPartners() {
        return {
            text: $("#searchbox-Twitter-social-partners").val()
        };
    }

    function addSearchTwitterSocialPartners() {
        var isChecked = $('#show-all-twitter').is(':checked');

        return {
            showAll: isChecked,
            searchTerm: $('#searchbox-Twitter-social-partners').val()
        };
    }

    $('#searchbox-Twitter-social-partners').keyup(function () {
        $('#grid-Twitter-social-partners').data('kendoGrid').dataSource.read();
    });

    function viewDetailsTwitterSocialPartners(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '/Marketing/SocialPartners/TwitterSocialPartnersInformation?socialPartnerId=' + dataItem.Id;
    }

    function selectRow() {
        var selected = $.map(this.select(), function (item) {
            return $(item).text();
        });

        $('#selected').text(selected);
    }

    function errorAlert() {
        console.log("An error ocurred");
    }

    function makeActiveOnClick(tab) {
        $(".tabs").removeClass('active');
        $(tab).addClass('active');
    }
</script>