@using TVChannelsCRM.Web.Areas.Users.ViewModels.Providers
@model ChannelViewModel
@{
    ViewBag.Title = "ChannelDetails";
}


<style type="text/css">
    #content {
        min-height: 600px;
    }
</style>

<h2>Channel details</h2>

@*<p>Sorry this page is still not ready and you are not allowed to check it</p>
    <h1>You will be automatically redirected after <span id="seconds-until-redirect">6</span> seconds!</h1>
    <img src="~/Content/images/sorry_not_implemented.jpg" />
    <script>
        $(document).ready(function () {
            var sec = 6;
            var timer = setInterval(function () {
                $('#seconds-until-redirect').text(--sec);
                if (sec === 1) {
                    window.location.href = '/users/providers/index';
                    clearInterval(timer);
                }
            }, 1000);
        });
    </script>*@


<div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
        <tbody>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Name
                    </strong>
                </td>
                <td>
                    @Model.Name
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Reveiving options
                    </strong>
                </td>
                <td>
                    @Model.ReveivingOptions
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Satellite data
                    </strong>
                </td>
                <td>
                    @Model.SatelliteData
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        EpgSource
                    </strong>
                </td>
                <td>
                    <a href="@Model.EpgSource">Link</a><br />
                    @Model.EpgSource
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Website
                    </strong>
                </td>
                <td>
                    <a href="@Model.Website">Link</a><br />
                    @Model.Website
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Presentation
                    </strong>
                </td>
                <td>

                    <a href="@Model.Presentation">Link</a><br />
                    @Model.Presentation
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Contract Template
                    </strong>
                </td>
                <td>

                    <a href="@Model.ContractTemplate">Link</a><br />
                    @Model.ContractTemplate
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Logo Link
                    </strong>
                </td>
                <td>

                    <a href="@Model.LogoLink">Link</a><br />
                    @Model.LogoLink
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Comments
                    </strong>
                </td>
                <td>
                    @Model.Comments
                </td>
            </tr>
        </tbody>
    </table>
</div>