@using TVChannelsCRM.Web.Areas.Users.ViewModels.Discussions
@model DiscussionViewModel
@{
    ViewBag.Title = "Discussion Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
        <tbody>
            <tr>
                <td>
                    <strong>
                        Date
                    </strong>
                </td>
                <td>
                    @Model.Date
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        Subject of discussion
                    </strong>
                </td>
                <td>
                    @Model.SubjectOfDiscussion
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        Summary
                    </strong>
                </td>
                <td>
                    @Model.Summary
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Comments
                    </strong>
                </td>
                <td>
                    @Model.Comments
                </td>
            </tr>
            @*@if (Model.User != null)
            {
                <tr>
                    <td>
                        <strong>
                            <span class="glyphicon glyphicon-user"></span>
                            Employee
                        </strong>
                    </td>
                    <td>
                        @Model.User.FirstName + @Model.User.LastName
                    </td>
                </tr>
            }
            @if (Model.Client != null)
            {
                <tr>
                    <td>
                        <strong>
                            <span class="glyphicon glyphicon-user"></span>
                            Client name
                        </strong>
                    </td>
                    <td>
                        @Model.Client.Name
                </td>
            </tr>

            }
            else if (Model.Provider != null)
            {
                <tr>
                    <td>
                        <strong>
                            <span class="glyphicon glyphicon-user"></span>
                            Provider name
                        </strong>
                    </td>
                    <td>
                        @Model.Provider.Name
                </td>
            </tr>
            }*@
        </tbody>
    </table>
</div>