@using TVChannelsCRM.Web.Areas.Users.ViewModels.Clients
@model ClientViewModel

<h2>Client details</h2>
<div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
        <tbody>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Account Manager
                    </strong>
                </td>
                <td>
                    @Model.AccountManager
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Type
                    </strong>
                </td>
                <td>
                    @Model.Type
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Eik
                    </strong>
                </td>
                <td>
                    @Model.Eik
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Residence and Address
                    </strong>
                </td>
                <td>
                    @Model.ResidenceAndAddress
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Network Page
                    </strong>
                </td>
                <td>
                    @Model.NetworkPage
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Contact Person
                    </strong>
                </td>
                <td>
                    @Model.ContactPerson
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Phone Number
                    </strong>
                </td>
                <td>
                    @Model.PhoneNumber
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Email
                    </strong>
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Secondary Address
                    </strong>
                </td>
                <td>
                    @Model.SecondaryAddress
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Active Cable
                    </strong>
                </td>
                <td>
                    @Model.ActiveCable
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Fixed Phone Service
                    </strong>
                </td>
                <td>
                    @Model.FixedPhoneService
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Access To Public Service Through Choice Operator
                    </strong>
                </td>
                <td>
                    @Model.AccessToPublicServiceThroughChoiceOperator
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Mobile Voice Services Provided Through Network
                    </strong>
                </td>
                <td>
                    @Model.MobileVoiceServicesProvidedThroughNetwork
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Public Services Provided By Wireless Access
                    </strong>
                </td>
                <td>
                    @Model.PublicServicesProvidedByWirelessAccess
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Services Fixed Access To Internet
                    </strong>
                </td>
                <td>
                    @Model.ServicesFixedAccessToInternet
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Services Mobile Access To Internet
                    </strong>
                </td>
                <td>
                    @Model.ServicesMobileAccessToInternet
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Services Transmission Data
                    </strong>
                </td>
                <td>
                    @Model.ServicesTransmissionData
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Spreading Radio and TV Programs
                    </strong>
                </td>
                <td>
                    @Model.SpreadingRadioAndTvPrograms
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Coverage
                    </strong>
                </td>
                <td>
                    @Model.Coverage
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Correspondence Address
                    </strong>
                </td>
                <td>
                    @Model.CorrespondenceAddress
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Cor Address
                    </strong>
                </td>
                <td>
                    @Model.CorAddress
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Post Code
                    </strong>
                </td>
                <td>
                    @Model.PostCode
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Management
                    </strong>
                </td>
                <td>
                    @Model.Management
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Management Phone
                    </strong>
                </td>
                <td>
                    @Model.ManagementPhone
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Management Email
                    </strong>
                </td>
                <td>
                    @Model.ManagementEmail
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Management Teritory
                    </strong>
                </td>
                <td>
                    @Model.ManagementTeritory
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Finance
                    </strong>
                </td>
                <td>
                    @Model.Finance
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Finance Phone
                    </strong>
                </td>
                <td>
                    @Model.FinancePhone
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Finance Email
                    </strong>
                </td>
                <td>
                    @Model.FinanceEmail
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Technical Name
                    </strong>
                </td>
                <td>
                    @Model.TechnicalName
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Technical Phone
                    </strong>
                </td>
                <td>
                    @Model.TechnicalPhone
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Technical Email
                    </strong>
                </td>
                <td>
                    @Model.TechnicalEmail
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Marketing
                    </strong>
                </td>
                <td>
                    @Model.Marketing
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Marketing Phone
                    </strong>
                </td>
                <td>
                    @Model.MarketingPhone
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Marketing Email
                    </strong>
                </td>
                <td>
                    @Model.MarketingEmail
                </td>
            </tr>
        </tbody>
    </table>
</div>
