@using TVChannelsCRM.Web.Areas.Users.ViewModels.Clients
@model ClientViewModel

<div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
        <tbody>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Name
                    </strong>
                </td>
                <td>
                    @Model.Name
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Name in Bulgarian
                    </strong>
                </td>
                <td>
                    @Model.NameBulgarian
=======
                        Type
                    </strong>
                </td>
                <td>
                    @Model.Type
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Type
                    </strong>
                </td>
                <td>
                    @if (ViewBag.TypeOfCompany != null)
                    {
                        @ViewBag.TypeOfCompany.ToString()
                    }
=======
                        Eik
                    </strong>
                </td>
                <td>
                    @Model.Eik
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Uic
                    </strong>
                </td>
                <td>
                    @Model.Uic
=======
                        Residence and Address
                    </strong>
                </td>
                <td>
                    @Model.ResidenceAndAddress
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Vat
                    </strong>
                </td>
                <td>
                    @Model.Vat
=======
                        Network Page
                    </strong>
                </td>
                <td>
                    @Model.NetworkPage
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Residence and Address
                    </strong>
                </td>
                <td>
                    @Model.ResidenceAndAddress
=======
                        Contact Person
                    </strong>
                </td>
                <td>
                    @Model.ContactPerson
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Network Page
                    </strong>
                </td>
                <td>
                    @Model.NetworkPage
=======
                        Phone Number
                    </strong>
                </td>
                <td>
                    @Model.PhoneNumber
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Contact Person
                    </strong>
                </td>
                <td>
                    @Model.ContactPerson
=======
                        Email
                    </strong>
                </td>
                <td>
                    @Model.Email
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Phone Number
                    </strong>
                </td>
                <td>
                    @Model.PhoneNumber
=======
                        Secondary Address
                    </strong>
                </td>
                <td>
                    @Model.SecondaryAddress
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Email
                    </strong>
                </td>
                <td>
                    @Model.Email
=======
                        Active Cable
                    </strong>
                </td>
                <td>
                    @Model.ActiveCable
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Correspondence
                    </strong>
                </td>
                <td>
                    @Model.Correspondence
=======
                        Fixed Phone Service
                    </strong>
                </td>
                <td>
                    @Model.FixedPhoneService
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        Fixed Phone Service
                    </strong>
                </td>
                <td>
                    @Model.FixedPhoneService
=======
                        Access To Public Service Through Choice Operator
                    </strong>
                </td>
                <td>
                    @Model.AccessToPublicServiceThroughChoiceOperator
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Mobile Voice Services Provided Through Network
                    </strong>
                </td>
                <td>
                    @Model.MobileVoiceServicesProvidedThroughNetwork
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
=======
                        Public Services Provided By Wireless Access
                    </strong>
                </td>
                <td>
                    @Model.PublicServicesProvidedByWirelessAccess
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                        Services Fixed Access To Internet
                    </strong>
                </td>
                <td>
<<<<<<< HEAD
                    @Model.InternetSubs
=======
                    @Model.ServicesFixedAccessToInternet
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Services Mobile Access To Internet
                    </strong>
                </td>
                <td>
                    @Model.ServicesMobileAccessToInternet
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
                        TV Subs
                    </strong>
                </td>
                <td>
                    @Model.TvSubs
=======
                        Services Transmission Data
                    </strong>
                </td>
                <td>
                    @Model.ServicesTransmissionData
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Spreading Radio and TV Programs
                    </strong>
                </td>
                <td>
                    @Model.SpreadingRadioAndTvPrograms
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Coverage
                    </strong>
                </td>
                <td>
                    @Model.Coverage
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
=======
                        Correspondence Address
                    </strong>
                </td>
                <td>
                    @Model.CorrespondenceAddress
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Cor Address
                    </strong>
                </td>
                <td>
                    @Model.CorAddress
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                        Post Code
                    </strong>
                </td>
                <td>
                    @Model.PostCode
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Management
                    </strong>
                </td>
                <td>
                    @Model.Management
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Management Phone
                    </strong>
                </td>
                <td>
                    @Model.ManagementPhone
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Management Email
                    </strong>
                </td>
                <td>
                    @Model.ManagementEmail
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
<<<<<<< HEAD
=======
                        Management Teritory
                    </strong>
                </td>
                <td>
                    @Model.ManagementTeritory
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
                        Finance
                    </strong>
                </td>
                <td>
                    @Model.Finance
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Finance Phone
                    </strong>
                </td>
                <td>
                    @Model.FinancePhone
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Finance Email
                    </strong>
                </td>
                <td>
                    @Model.FinanceEmail
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Technical Name
                    </strong>
                </td>
                <td>
                    @Model.TechnicalName
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Technical Phone
                    </strong>
                </td>
                <td>
                    @Model.TechnicalPhone
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Technical Email
                    </strong>
                </td>
                <td>
                    @Model.TechnicalEmail
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Marketing
                    </strong>
                </td>
                <td>
                    @Model.Marketing
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Marketing Phone
                    </strong>
                </td>
                <td>
                    @Model.MarketingPhone
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Marketing Email
                    </strong>
                </td>
                <td>
                    @Model.MarketingEmail
                </td>
            </tr>
<<<<<<< HEAD
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Frequency
                    </strong>
                </td>
                <td>
                    @Model.Frequency
                </td>
            </tr>
=======
>>>>>>> 3ac377d6b1c3e2b22f0a38e1c651a753c80d53c8
        </tbody>
    </table>
</div>
