@using TVChannelsCRM.Web.Areas.Users.ViewModels.Providers
@model ProviderViewModel

<div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
        <tbody>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Name
                    </strong>
                </td>
                <td>
                    @Model.Name
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Type
                    </strong>
                </td>
                <td>
                    @Model.Type
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Eik
                    </strong>
                </td>
                <td>
                    @Model.Eik
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Bank Account
                    </strong>
                </td>
                <td>
                    @Model.BankAccount
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Residence and address
                    </strong>
                </td>
                <td>
                    @Model.ResidenceAndAddress
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Network page
                    </strong>
                </td>
                <td>
                    @Model.NetworkPage
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Contact prson
                    </strong>
                </td>
                <td>
                    @Model.ContactPerson
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Phone number
                    </strong>
                </td>
                <td>
                    @Model.PhoneNumber
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Email
                    </strong>
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Address
                    </strong>
                </td>
                <td>
                    @Model.Address
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Term
                    </strong>
                </td>
                <td>
                    @Model.Term
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        CPS
                    </strong>
                </td>
                <td>
                    @Model.Cps
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Commission
                    </strong>
                </td>
                <td>
                    @Model.Commission
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Comments
                    </strong>
                </td>
                <td>
                    @Model.Comments
                </td>
            </tr>
        </tbody>
    </table>
</div>