@using TVChannelsCRM.Web.Areas.Users.ViewModels.Contracts
@model ContractViewModel

<h2>Contract details</h2>
<div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
        <tbody>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Start Date
                    </strong>
                </td>
                <td>
                    @Model.StartDate
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Term
                    </strong>
                </td>
                <td>
                    @Model.Term
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        End Date
                    </strong>
                </td>
                <td>
                    @Model.EndDate
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Notice Period
                    </strong>
                </td>
                <td>
                    @Model.NoticePeriod
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Billing Start Date
                    </strong>
                </td>
                <td>
                    @Model.BillingStartDate
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Billing End Date
                    </strong>
                </td>
                <td>
                    @Model.BillingEndDate
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Starting Date Of Due Date
                    </strong>
                </td>
                <td>
                    @Model.StartingDateOfDueDate
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Number Of Days For Payment Due Date
                    </strong>
                </td>
                <td>
                    @Model.NumberOfDaysForPaymentDueDate
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Number Of Days To Be Considered
                    </strong>
                </td>
                <td>
                    @Model.NumberOfDaysToBeConsidered
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Accepting Reports
                    </strong>
                </td>
                <td>
                    @Model.AcceptingReports
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Governing Law
                    </strong>
                </td>
                <td>
                    @Model.GoverningLaw
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <span class="glyphicon glyphicon-user"></span>
                        Comments
                    </strong>
                </td>
                <td>
                    @Model.Comments
                </td>
            </tr>
            @if (Model.Provider != null && Model.Provider.Name != null)
            {
                <tr>
                    <td>
                        <strong>
                            <span class="glyphicon glyphicon-user"></span>
                            Provider name
                        </strong>
                    </td>
                    <td>
                        @Model.Provider.Name
                    </td>
                </tr>
            }
            @if (Model.Client != null && Model.Client.AccountManager != null)
            {
                <tr>
                    <td>
                        <strong>
                            <span class="glyphicon glyphicon-user"></span>
                            AccountManager
                        </strong>
                    </td>
                    <td>
                        @Model.Client.AccountManager
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
